
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="/assets/css/styles.css" type="text/css">

    <title>{{ page.title }}</title>

    {% if page.layout == "home" or page.layout == "404error"%}
        <script src="/dependencies/particles.js/particles.js"></script>
        <script src="/main.js"></script>
    {% endif %}
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" rel="stylesheet">
</head>